<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#suported-navbar"
      aria-controls="suported-navbar" aria-expanded="false" aria-label="change navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="suported-navbar">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
          <img src="{{photo}}" alt="User image profile" width="50px" height="50px"
            class="img-fluid rounded-circle">
        </li>

        <li class="nav-item pl-3">
            <p class="m-0 font-weight-bold text-white fs-16">{{name}}</p>
        </li>
        <li>
          <a [routerLink]="['/users/edit', id]" class="btn btn-link btn-floating btn-lg text-light m-1" href="" role="button" data-mdb-ripple-color="dark" aria-hidden="true">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
          <a class="m-0 font-weight-bold text-white fs-16"><button (click)="signout()"
              class="btn btn-light">Sign out</button></a>
        </li>
      </ul>
    </div>
  </nav>