#img-bg {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/22/Da_Vinci_Vitruve_Luc_Viatour.jpg");
    min-height: 961px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }